/* Overall Styles */

div#drive-thru-terminal {
  display: block;
  padding: 25px;
  width: 75%;
  margin: 0 auto;
}

h3 {
  background: greenyellow;
  padding: 10px;
}

/* Menu Styles */

.menu_item {
  margin-top: 15px;
  min-width: 400px;
  padding-bottom: 15px;
  border-bottom: 1px lightgray solid;
}

.item_heading_container,
.order_item {
  font-size: 18px;
  display: flex;
  flex: 2 auto auto 1;
  flex-direction: row;
  align-items: center;
}

.item_name {
  margin-right: 10px;
}

.price,
.item_sub_total {
  margin-left: 10px;
  margin-right: 20px;
}

button {
  display:block;
  margin-bottom: 0;
  line-height: 0;
  height: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}

.add_button {
  margin-bottom: 5px;
}

.dotted_spacer {
  border-bottom: 1px dashed grey;
  height: 10px;
  flex-grow: 4;
  margin-left: 10px;
}

.menu_item_buttons .quantity {
  display: none;
}

.orders_list {
  height: auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.order {
  background: lightblue;
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  padding: 10px;
  border: 1px double slategray;
  border-radius: 10px;
}

.order_action_buttons {
  display: inline-flex;
  align-self: flex-end;
  justify-self: flex-end;
  height: 28px;
  width: auto;
  background: lightcyan;
}

.order-summary-card {
  margin-bottom: 10px;
  border: 1px solid grey;
  padding: 5px;
}

.order-summary-card p {
  margin-bottom: 0;
}

.complete_order_button,
.cancel_order_button {
  height: 100%
}

.complete_order_button {
  margin-right: 10px;
  height: 100%;  
}

.complete_order_label {
  margin-top: 2px;
}

.order_total_container {
  margin: 20px 0;
}

.order_total {
  display: inline-block;
  float: right;
  width: auto;
}

.item_qty {
  width: 75px;
  margin-left: 20px;
}

.item_sub_total {
  width: 50px;
  text-align: right;
}
